/* Fonts */

/* Nunito  */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Ubuntu */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Navigation 1 */

.navbar-1 {
    background-color: #efefef;
    font-family: 'Roboto', sans-serif;
}

.navbar-1-link {
    font-weight: 400;
    color: #a4a4a4;
    
}

.navbar-1-link:active {
    color: #000;
}

@media (max-width: 768px) {
    .navbar-1-logo {
        content: url('https://raw.githubusercontent.com/Evan-Roberts-808/Component-Library/114085227bb228a1561e9e2d67a1120ac483801a/.github/images/placeholder-imgs/placeholder-logo-small.svg')
    }

    .navbar-1-link {
        text-align: center;
    }
}

/* Navigation 2 */

.navbar-2 {

}

.navbar-2-offcanvas {
    font-family: 'Open Sans', sans-serif;
}

@media (max-width: 768px) { 
    .navbar-2-logo {
        content: url('https://raw.githubusercontent.com/Evan-Roberts-808/Component-Library/114085227bb228a1561e9e2d67a1120ac483801a/.github/images/placeholder-imgs/placeholder-logo-small.svg')
    }
}

/* Navigation 3 */

/* Navigation 4 */

/* Navigation 5 */

/* Navigation 6 */

/* Navigation 7 */

/* Navigation 8 */